// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #17a2f3;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

// My colors
$dark-purple: #7f4782;
$light-purple: #aa5c9f;
$pink: #e2598b;
$yellow: #fdd043;
$light-gray: #ededed;
