<div class="my-blogs">
  <p>My Blogs</p>
</div>

<% @my_blogs.each do |blog| %>
  <div class="blog-combo">
    <div class="blog-photo">
      <%= cl_image_tag(blog.photo, :width=>30, :class => "img_cover") %>
    </div>
    <div class="blog-name">
      <%= blog.name %>
    </div>
  </div>
<% end %>
