<!-- Forgot Password Modal -->
<div>
  <div class="modal" id="forgotPasswordModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content form-login">
        <div class="modal-header">
          <h5 class="modal-title" id="forgotPasswordTitle">Forgot your password?</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>

        <%= render 'users/passwords/new' %>

      </div>
    </div>
  </div>
</div>
