@media (min-width: 768px) {
  .modal-xl {
    width: 90%;
   max-width:1200px;
  }
}

.blog-logo {
  padding: 5px;
  display: flex;
  justify-content: center;
}

.blog-tag {
  background: rgba(255, 255, 0,.3);
  color: black;
  padding: 5px;
  margin: 10px;
}

.blog-title {
  text-align: center;
}

.blog-description {
  margin: 10px;
}
