@media (min-width: 768px) {
  .modal-xl {
    width: 90%;
   max-width:1200px;
  }
}

#card-size {
  height: 400px;
}

.modal-header {
  border-bottom: none;
}

.title_header {
  text-align: center;
}

.close {
  color: $dark-purple;
  opacity: .4;
  outline: none !important;
  box-shadow: none;
  &:hover {
    color: $dark-purple;
    opacity: 1;
  }
}

.light-gray {
  background-color: $light-gray;
}

.blog-logo {
  padding: 5px;
  display: flex;
  justify-content: center;
}

.blog-tag {
  background: rgba(255, 255, 0,.3);
  color: black;
  padding: 5px;
  margin: 10px;
}

.blog-title {
  text-align: center;
}

.blog-description {
  margin: 10px;
  font-weight: lighter;
  font-size: 0.9rem;
}

.highlighted-purple {
  // background-color: rgba(226, 89, 139, .1);
  background-color: rgba(170, 92, 159, .1);
  color: $light-purple;
  padding: 5px;
}

