.card {
  height: 450px;
  margin: 5px;
  overflow: hidden;
  // text-overflow: ellipsis;
}

.card-img img {
  height: 200px;
  background-size: cover;
  opacity: .85;

  &:hover {
    opacity: .95;
  }
}

.card-details {
  height: 100px;
  background-color: white;
}

.card-title {
  padding: 15px 15px 0px 15px;
  margin: 0px;
}

.card-title h3 {
  font-size: 1.2rem;
}

.card-title a:link, a:hover, a:active, a:visited {
  text-decoration: none;
}

a {
  color: #5c3b6f;
  &:hover {
    color: #5c3b6f;
  }
}

.card-description {
  padding: 0px 15px 15px 15px;
  // height: 100px;
  // overflow: hidden;
  // text-overflow: ellipsis;
}

.card-description p {
  font-weight: lighter;
  font-size: 0.9rem;
  // overflow: hidden;
  // text-overflow: ellipsis;
}

.card-published {
  padding-left: 10px;
}

.card-published i {
  font-size: 0.8rem;
}
