.cards-feed {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 25px;
  max-width: 1600px;
}

// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .cards-feed {
    grid-template-columns: 1fr;
    padding: 10vw 10vw 0vw 10vw;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .cards-feed {
    grid-template-columns: 1fr;
    padding: 4vw 20vw 0vw 20vw;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .cards-feed {
    grid-template-columns: 1fr 1fr;
    padding: 4vw 8vw 0vw 8vw;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .cards-feed {
    grid-template-columns: 1fr 1fr;
    grid-gap: 100px;
    padding: 4vw 8vw 0vw 8vw;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .cards-feed {
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 40px;
    padding: 4vw 8vw 0vw 8vw;
  }
}

// XXL devices (large desktops, 1600px and up)
@media (min-width: 1600px) {
  .cards-feed {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 40px;
    padding: 4vw 8vw 0vw 8vw;
  }
}
