.button-outline {
  // background-color: transparent;
  border-radius: 4px;
  padding: 6px 12px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: auto;
  margin: 4px auto;
}

.button-outline #follow {
  border: 1px solid $blue;
  color: $blue;
}

.button-outline #unfollow {
  border: 1px solid $blue;
  background: $blue;
  color: white;
  &:hover{
    content:'Unfollow';
    background: $dark-purple;
  }
}
