.button-outline {
  border: 1px solid $pink;
  border-radius: 4px;
  padding: 6px 12px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: auto;
  margin: 4px auto;
}

#following {
  background-color: $pink;
  color: white;
}

#follow {
  background-color: white;
  color: $pink;
  &:hover {
    background-color: rgba(226, 89, 139, .1);
    color: $pink;
  }
}

.center-button {
  text-align: center;
}
