.navbar-blog {
  justify-content: space-between;
  background: white;
  position: relative;
  padding: 30px;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.navbar-blog .navbar-collapse {
  flex-grow: 0;
}

.navbar-blog .navbar-brand img {
  width: 40px;
}

.tagline {
  position: absolute;
  width: 100%;
  text-align: center;
  flex-shrink: 2;
}

.tagline h3 {
  font-family: 'Slabo 27px', serif;
}
